<IfModule mod_rewrite.c>
	Options -MultiViews	
	RewriteEngine On 
	RewriteBase /brands
	RewriteRule ^index\.html$ - [L] 
	RewriteCond %{REQUEST_FILENAME} !-f 
	RewriteCond %{REQUEST_FILENAME} !-d 
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule . /brands/index.html [L]
</IfModule>